<div class="header">
  <img src="assets/HR_logo.png" alt="Logo" class="logo" />
  <input
    type="text"
    pInputText
    placeholder="Search..."
    (input)="onSearch($event)"
    class="search-bar"
  />
  <div class="right-buttons">
    <p-menubar>
      <ng-template pTemplate="start">
        <a class="p-button p-button-text" (click)="toggleDropdown($event)">
          john doe
        </a>
      </ng-template>
    </p-menubar>
    <p-overlayPanel #op>
      <ul>
        <li (click)="logOut()">Log out</li>
      </ul>
    </p-overlayPanel>
  </div>
</div>
