.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}

.add-button {
  margin-right: 20px;
}

.search-bar {
  width: 450px;
}

.logo {
  width: 80px;
  height: auto;
  padding-left: 20px;
}
