td,
th {
  padding: 4px 8px;
}

::ng-deep .head-button-outlined-rest .p-button-label {
  font-weight: 400;
}

::ng-deep .p-dialog .p-dialog-header {
  font-weight: 700; /* Change to desired font-weight */
  font-size: 14px; /* Change to desired font-size */
}

::ng-deep p-sortIcon {
  color: aliceblue;
}
