<p-table
  [value]="filteredEmployees"
  scrollable="true"
  [paginator]="true"
  [rows]="14"
  [resizableColumns]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [tableStyle]="{ 'min-width': '75rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th pResizableColumn style="width: 20%">Employee Name</th>
      <th pResizableColumn style="width: 20%">Email</th>
      <th pResizableColumn style="width: 20%">Phone</th>
      <th pResizableColumn style="width: 20%">Birth Date</th>
      <th pResizableColumn style="width: 20%">Age</th>
      <th pResizableColumn style="width: 20%">Company</th>
      <th pResizableColumn style="width: 20%">City</th>
      <th pResizableColumn style="width: 20%">Work Type</th>
      <th pResizableColumn style="width: 20%">Gender</th>
      <th pResizableColumn style="width: 20%">Marriage Status</th>
      <th pResizableColumn style="width: 20%">Supervisor</th>
      <th pResizableColumn style="width: 20%">Office</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td>{{ employee.name }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.phone }}</td>
      <td>{{ employee.birthDate }}</td>
      <td>{{ employee.age }}</td>
      <td>{{ employee.company }}</td>
      <td>{{ employee.city }}</td>
      <td>{{ employee.workType }}</td>
      <td>{{ employee.gender }}</td>
      <td>{{ employee.marriageStatus }}</td>
      <td>{{ employee.supervisor }}</td>
      <td>{{ employee.office }}</td>
    </tr>
  </ng-template>
</p-table>
