<div class="table-outer-box">
  <div class="toolbar">
    <button
      pButton
      type="button"
      label="Add"
      class="head-button-outlined-add"
      (click)="onAdd()"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-pencil"
      label="Edit"
      class="head-button-outlined-rest"
      (click)="onEdit()"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-trash"
      label="Delete"
      class="head-button-outlined-rest"
      (click)="onDelete()"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-lock"
      label="Access Rights"
      class="head-button-outlined-rest"
      (click)="onAccessRights()"
    ></button>
  </div>

  <p-table
    [value]="filteredCimpanies"
    scrollable="true"
    [rows]="14"
    [resizableColumns]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pResizableColumn pSortableColumn="field_1">
          Field 1
          <p-sortIcon field="field_1"></p-sortIcon>
        </th>
        <th pResizableColumn pSortableColumn="field_2">
          Field 2
          <p-sortIcon field="field_2"></p-sortIcon>
        </th>
        <th pResizableColumn pSortableColumn="field_3">
          Field 3
          <p-sortIcon field="field_3"></p-sortIcon>
        </th>
        <th pResizableColumn pSortableColumn="field_4">
          Field 4
          <p-sortIcon field="field_4"></p-sortIcon>
        </th>
        <th pResizableColumn pSortableColumn="field_5">
          Field 5
          <p-sortIcon field="field_5"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      <tr>
        <td class="name-col">{{ item.field_1 }}</td>
        <td>{{ item.field_2 }}</td>
        <td>{{ item.field_3 }}</td>
        <td>{{ item.field_4 }}</td>
        <td>{{ item.field_5 }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
