<div class="login-container">
  <div class="login-box">
    <div class="login-left">
      <img src="assets/HR_LOGO.jpg" alt="Logo" class="logo" />
      <h2>Log in to your Account</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <label for="email">Email</label>
          <input
            id="email"
            type="text"
            formControlName="username"
            placeholder="example@gmail.com"
          />
          <div
            *ngIf="
              loginForm.get('username')?.invalid &&
              loginForm.get('username')?.touched
            "
            class="error"
          >
            Email is required.
          </div>
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <div class="password-container">
            <input
              id="password"
              [type]="passwordFieldType"
              formControlName="password"
              placeholder="********"
            />
            <button
              type="button"
              class="toggle-password"
              (click)="togglePasswordVisibility()"
            >
              <i
                class="pi"
                [ngClass]="
                  passwordFieldType === 'password' ? 'pi-eye' : 'pi-eye-slash'
                "
              ></i>
            </button>
          </div>
          <div
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
            class="error"
          >
            Password is required.
          </div>
        </div>

        <button type="submit" class="login-button">Log in</button>
        <div *ngIf="loginFailed" class="error">
          Invalid username or password.
        </div>
      </form>
    </div>
    <div class="login-right">
      <img src="assets/Web Security.jpg" alt="Login Image" />
    </div>
  </div>
</div>
