.sidebar-container {
  width: Fixed (356px) px;
  height: Fill (877px) px;
  padding: 1px 0px 0px 0px;
  gap: 0px;
  border: 0px 1px 0px 0px;
  opacity: 0px;
}

.router-content {
  width: Fill (1, 560px) px;
  height: Fill (877px) px;
  padding: 4px 0px 0px 0px;
  gap: 4px;
  opacity: 0px;
}

.whole-page {
  display: flex;
}
