.sidebar-container {
  height: 877px;
  padding: 1px 0px 0px 0px;
  gap: 0px;
  border: 0px 1px 0px 0px;
  opacity: 0px;
}

.router-content {
  padding: 4px 0px 0px 0px;
  gap: 4px;
  opacity: 0px;
}

.whole-page {
  display: flex;
}

.router-content {
  width: 100%;
  overflow-x: auto;
}

.router-content table {
  width: 100%;
  min-width: 800px; /* Set a minimum width if needed */
  height: 100%;
}
