.whole-site {
  background-color: #eeeeee;
  height: fill;
}

.sidebar-container {
  padding: 1px 0px 0px 0px;
  gap: 0px;
  border: 0px 1px 0px 0px;
}

.router-content {
  padding-top: 2px;
}

.whole-page {
  display: flex;
}

.router-content {
  width: 100%;
  overflow-x: auto;
}

.router-content table {
  width: 100%;
  min-width: 800px; /* Set a minimum width if needed */
  height: 100%;
}
