<div class="sidebar-container">
  <div class="sidebar-header">
    <img
      src="assets/tatianoniashvili.png"
      alt="Profile Picture"
      class="profile-picture"
    />
    <div class="user-info">
      <div class="user-name">Tatia Noniashvili</div>
      <div class="user-role">
        Hr&nbsp; <span class="user-company">Rustar Online</span>
      </div>
    </div>
    <div class="logout">
      <button (click)="logout()">
        Log Out <i class="pi pi-fw pi-angle-right"></i>
      </button>
    </div>
  </div>

  <!-- First Tree for the first 3 rows -->
  <div class="tree-section-first">
    <p-tree
      class="p-tree-first"
      [value]="firstTreeNodes"
      selectionMode="single"
      (onNodeSelect)="nodeSelect($event)"
    ></p-tree>
  </div>

  <!-- Second Tree for the library row -->
  <div class="tree-section-second">
    <p-tree
      class="p-tree-second"
      [value]="libraryTreeNodes"
      selectionMode="single"
      (onNodeSelect)="nodeSelect($event)"
    ></p-tree>
  </div>
</div>
