<div class="table-outer-box">
  <div class="toolbar">
    <button
      pButton
      type="button"
      label="Add"
      class="head-button-outlined-add"
      (click)="onAdd()"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-pencil"
      label="Edit"
      class="head-button-outlined-rest"
      (click)="onEdit()"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-trash"
      label="Delete"
      class="head-button-outlined-rest"
      (click)="onDelete()"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-lock"
      label="Access Rights"
      class="head-button-outlined-rest"
      (click)="onAccessRights()"
    ></button>
  </div>
  <p-table
    [value]="filteredCountries"
    scrollable="true"
    [paginator]="true"
    [rows]="14"
    [resizableColumns]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [tableStyle]="{ 'min-width': '75rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pResizableColumn pSortableColumn="name">
          Name
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pResizableColumn pSortableColumn="iso">
          ISO
          <p-sortIcon field="iso"></p-sortIcon>
        </th>
        <th pResizableColumn pSortableColumn="country_iso">
          Country ISO
          <p-sortIcon field="country_iso"></p-sortIcon>
        </th>
        <th pResizableColumn pSortableColumn="flag">
          Flag
          <p-sortIcon field="flag"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-country let-rowIndex="rowIndex">
      <tr>
        <td class="name-col">{{ country.name }}</td>
        <td>{{ country.iso }}</td>
        <td>{{ country.country_iso }}</td>
        <td>{{ country.flag }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
